extends ./layout2

block css
  link(href="css/profile.css" rel="stylesheet")
block content
  .container-fluid.well.span6
    .row-fluid
      .span2
        img.img-circle(src='https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm')

      .span8
        h3#userName User Name
        button.btn.btn-success(data-toggle="modal" data-target="#itemModal") Add Item
        h3 Item's Owned
        .row
          #ownedItems
            .row
              #sampleItem.col-sm-6.col-md-6.hide.item.text-center
                .thumbnail
                  img(src='http://ep.yimg.com/ay/yhst-83547458988818/travelocity-gnome-mexico-16.jpg')
                  .caption Sample
              each element in items
                - var divClass = null
                if (element.trade) 
                  - divClass = "disabled"
                .col-sm-6.col-md-6.item.text-center(id="#{element._id}" class=divClass)
                  .thumbnail
                      img(src='http://ep.yimg.com/ay/yhst-83547458988818/travelocity-gnome-mexico-16.jpg')
                      .caption= element.name
        br
        h3 Pending Transactions 
        .row
          #pendingItems.col-sm-6.col-md-6
            table.table.table-striped
              tbody#offerTable
                tr
                  th Your Item
                  th Offer
                  th Accept
                  th Decline
                  th Cancel
                tr.hide.toClone
                  td#currentItem 
                  td#offer 
                  td 
                    button#acceptOffer Accept
                  td 
                    button#declineOffer Decline
                  td#cancelTrans 
                    button Cancel
                each element in trans
                  tr(id="#{element._id}")
                    td#currentItem= element.name
                    td#offer= element.offered
                    td 
                      button#acceptOffer Accept
                    td 
                      button#declineOffer Decline
                    td#cancelTrans 
                      button Cancel

  #itemModal.modal.fade(role="dialog")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4.modal-title Item
            button.close(data-dismiss="modal") &times; 
          .modal-body
            .form-group
              label.dropdownLabel(for="#itemName") Add an Item
              input#itemName.form-control(type="text"  placeholder="Item name")
          .modal-footer
            button#addItem.btn.btn-default(data-dismiss="modal") Add
            button.btn.btn-default(data-dismiss="modal") Close
               
block script
  script(src='js/profile.js')