extends ./layout2

block css
  link(href="css/profile.css" rel="stylesheet")
block content
  .container-fluid.well.span6
    .row-fluid
      .span2
        img.img-circle(src='https://lh3.googleusercontent.com/-_6lvqJXhJnk/AAAAAAAAAAI/AAAAAAAAAAA/OMUSbvy2l6Q/photo.jpg')

      .span8
        h3#userName= user
        button.btn.btn-success(data-toggle="modal" data-target="#itemModal") Add Item
        h3 Item's Owned
        .row
          #ownedItems
            #sampleItem.col-sm-6.col-md-6.hide.item.text-center
              .thumbnail
                img(src='http://hydra-media.cursecdn.com/minecraft-de.gamepedia.com/c/c9/Netherreaktorkern.png?version=95b085a0d60bffa2db6cf81299e561a2')
                .caption Sample
              button#cancel Cancel
            each element in items
              - var divClass = null
              if (element.trade) 
                - divClass = "disabled"
              .col-sm-6.col-md-6.item.text-center(id="#{element._id}" class=divClass)
                .thumbnail
                  img(src='http://hydra-media.cursecdn.com/minecraft-de.gamepedia.com/c/c9/Netherreaktorkern.png?version=95b085a0d60bffa2db6cf81299e561a2')
                  .caption= element.name
                button#cancel Cancel
        br
        h3 Pending Transactions 
        .row
          #pendingItems.col-sm-6.col-md-6
            table.table.table-striped
              tbody#offerTable
                tr
                  th Item 1
                  th Item 2
                  th Accept
                  th Decline
                each element in trans
                  tr(id="#{element._id}")
                    td#currentItem= element.forTrade.name
                    td#offer= element.offered.name
                    td 
                      button#acceptOffer Accept
                    td 
                      button#declineOffer Decline

  #itemModal.modal.fade(role="dialog")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            h4.modal-title Item
            button.close(data-dismiss="modal") &times; 
          .modal-body
            .form-group
              label.dropdownLabel(for="#itemName") Add an Item
              input#itemName.form-control(type="text"  placeholder="Item name")
          .modal-footer
            button#addItem.btn.btn-default(data-dismiss="modal") Add
            button.btn.btn-default(data-dismiss="modal") Close
               
block script
  script(src='js/profile.js')